PORT=3007
JWT_ACCESS_SECRET=your-access-secret-change-me
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
EXTINGUISHER_SERVICE_URL=http://localhost:3003
INSPECTION_SERVICE_URL=http://localhost:3004
MAINTENANCE_SERVICE_URL=http://localhost:3005
USER_SERVICE_URL=http://localhost:3002
