PORT=3006
MONGODB_URI=mongodb://mongo:27017/notification_db
JWT_ACCESS_SECRET=your-access-secret-change-me
SERVICE_TOKEN=your-service-token-change-me
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
EXTINGUISHER_SERVICE_URL=http://extinguisher-service:3003
USER_SERVICE_URL=http://user-service:3002
INSPECTION_SERVICE_URL=http://inspection-service:3004
