PORT=3005
MONGODB_URI=mongodb://mongo:27017/maintenance_db
JWT_ACCESS_SECRET=your-access-secret-change-me
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
INSPECTION_SERVICE_URL=http://inspection-service:3004
EXTINGUISHER_SERVICE_URL=http://extinguisher-service:3003
